{% extends "base.twig" %}
{% block content %}

	<article class="post-type-{{post.post_type}} spacing--horiz-4 spacing--vert-3" id="post-{{post.ID}}">
		<section class="article-content">
			<h1 class="article-h1">{{post.title}}</h1>
			<div class="article-body">
				{{post.content}}
			</div>
		</section>
	</article>
	<aside class="post-type-{{post.post_type}} spacing--vert-3">
		{% for image in sidebar %}
			<img src="{{image}}">
		{% endfor %}

</div>
{% endblock %}