{% extends "base.twig" %}
{% block content %}
	{% if home != null %}
		{% include 'components/sections/section--homepage-content.twig' %}
	{% endif %}
	<article class="post-type-menus spacing--gutter spacing--vert-1 spacing--dsk-horiz-4 spacing--dsk-vert-2" id="post-{{post.ID}}">
		<section class="flex flex--justify-between section--menus">
			
			{% for menus in menus.menu %}
				{# {{menus|print_r}} #}
				{% if menus.table_section  %}
					<a target="_blank" data-index="{{loop.index}}" class="menu-trigger flex justify--center align--center flex--grid-half spacing--vert-6 spacing--horiz-4" style="background-image:url('{{menus.image}}');order:{{loop.index}}"><h1 class="color--white mar-no text--uppercase text--center">{{menus.title}}</h1></a>
					<div class="table-wrap text--center" data-index="{{loop.index}}">
						<h4>{{menus.subtitle}}</h4><br>
						{% for section in menus.table_section %}
							<strong class="menu-section-title">{{section.title}}</strong>
							
							{% if section.table.body %}
								{% spaceless %}
								<div class="menu-section">
									{% for row in section.table.body %}
										{% for cell in row %}
												<span>{{cell.c}}</span>
										{% endfor %}
										<br>
									{% endfor %}
								</div>
								{% endspaceless %}
							{% endif %}
						
						{% endfor %}
					</div>
				{% else %}
					<a target="_blank" href="{{menus.file}}" class="menu-trigger flex justify--center align--center flex--grid-half spacing--vert-6 spacing--horiz-4" style="background-image:url('{{menus.image}}');"><h1 class="color--white mar-no text--uppercase text--center">{{menus.title}}</h1></a>
				{% endif %}
			{% endfor %}
		</section>
		{% if menus.link %}
			<section class="post-type-{{post.post_type}} spacing--horiz-1 spacing--vert-1 mobile-hide spacing--dsk-vert-3" id="post-{{post.ID}}">
				<a href="{{menus.link}}" title="{{menus.text}}" class="button color--red border--thick center text--uppercase">{{menus.text}}</a>
			</section>
		{% endif %}
		
		
		{% if post.content %}
			<section class="post-type-{{post.post_type}} spacing--horiz-1 spacing--vert-1" id="post-{{post.ID}}">
				{{post.content}}
			</section>
		{% endif %}
	</article>
{% endblock %}