{% extends "base.twig" %}
{% block content %}
	{% if home != null %}
		{% include 'components/sections/section--homepage-content.twig' %}
	{% endif %}
	<article class="post-type-menus spacing--gutter spacing--vert-1 spacing--dsk-horiz-4 spacing--dsk-vert-2" id="post-{{post.ID}}">
		<h1>{{post.post_title}}</h1>
		<h3>Press</h3><br>
		<section class="flex flex--justify-between flex-wrap">
			{% for press in press.press %}

				<div class="flex--grid-fourth  spacing--horiz-1 spacing--vert-1 bg--white text--center color--black">
					<div class="pressLogoWrap">
					<img align="center" height="" src="{{press.image}}">
				</div>
					<h4>{{press.title}}</h4>
					<div>{{press.description}}</div>
					<a href="{{press.link}}">Read More ></a>
				</div>
			{% endfor %}
		</section>
		<section class="spacing--vert-2">
			<h3>Downloads</h3><br>
		{{press.link_section}}
		</section>
		{% if post.content %}
			<section class="post-type-{{post.post_type}} spacing--horiz-1 spacing--vert-1" id="post-{{post.ID}}">
				{{post.content}}
			</section>
		{% endif %}
	</article>
{% endblock %}