<section class="section--footer-hours spacing--vert-1 color--cream spacing--dsk-vert-0">
	<strong class="text--uppercase color--cream">Hours</strong><br>
	<div>SUN - THU: {{hours.sun_open}} - {{hours.sun_close}}</div>
	<div>FRI &amp; SAT: {{hours.fri_open}} - {{hours.fri_close}}</div>
	{% if hours.other_times != null %}
		{% for time in hours.other_times  %}
			<span class="color--cream font--italic">
			<span class="day">{{time.day|date("M d")}}:</span>
			<span >{{time.text}}</span>
		</span>
		{% endfor %}
	{% endif %}
</section>
