<section class="section--footer-first">
	{% if footer.first_button_url %}
		<a href="{{footer.first_button_url}}" title="{{footer.first_button_text}}" class="button color--cream border--thick">{{footer.first_button_text}}</a>
	{% endif %}
	{% if footer.second_button_url %}
		<a href="{{footer.second_button_url}}" title="{{footer.second_button_text}}" class="button color--white bg--red border--red border--thick">{{footer.second_button_text}}</a>
	{% endif %}
	{% include 'components/blocks/block--footer-address.twig' %}
</section>