<section class="section--footer-buttons text--center color--cream font--smaller">
	{% if footer.first_button_url %}
		<a href="{{footer.first_button_url}}" title="{{footer.first_button_text}}" class="text--uppercase font--heading button color--cream-dark border--thick">{{footer.first_button_text}}</a>
	{% endif %}
{# 
	{% if footer.second_button_url %}
		<a href="{{footer.second_button_url}}" title="{{footer.second_button_text}}" class="button color--black bg--red border--red border--thick font--heading text--uppercase rsrv-link">{{footer.second_button_text}}</a>
	{% endif %} #}
</section>